.task-path-link {
    margin: 0 10px 0 10px;
}

.current-task-path {
    font-weight: 600;
}

.task-path-link:not(.current-task-path)::after {
    content:'';
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    margin-left: 13px;
}

.project-header {
    padding: 5px 0 5px 15px;
    font-size: 20px;
}

.project-header > div {
    display: flex;
    width: 100%;
}

.project-header-settings {
    display: flex;
    flex-direction: row-reverse;
    justify-self: end;
    width: fit-content;
    flex-shrink: 0;
    padding: 2px;
    margin-left: auto;
    margin-right: 10px;
    min-width: 70px;
}

.edit-project-info-container {
    width: 100%;
}

.edit-project-title {
    width:100%;
}

.edit-project-description {
    width:100%;
    height: fit-content;
}

.project-description-container {
    font-size: medium;
    margin-left: 10px;
}