.top-level-subtask-container > .subtask-container {
    margin-bottom: 0;
}

.top-level-subtask {
    margin-bottom: 25px;
    border-radius:5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.subtask-content {
    margin: 4px 0;
    border: 1px solid black;
}

.subtask-content:not(.top-level-subtask) {
    margin: 0;
    margin-bottom:10px;
    margin-top:10px;
    border-left:10px solid #AAAAAA;
    border-right: 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.subtask-content:not(.top-level-subtask):last-of-type {
    margin-bottom:0px;
    border-bottom: 0;
}

.subtask-title {
    width: 100%;
    min-height: 30px;
    background-color: #DDDDDD;
    font-weight: 600;
    font-size: medium;
    display: flex;
}

.subtask-description {
    padding: 0 10px;
    font-size: small;
}

.completed-button-container {
    position: relative;
    width: 28px;
    flex-shrink: 0;
    padding: 2px;
}

.subtask-count {
    position: relative;
    margin-left: auto;
    margin-right: 10px;
    width: 25px;
    text-align: right;
    flex-shrink: 0;
    padding: 2px;
}

.task-check-circle {
    height: 16px;
    width: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.task-checkbox svg{
    display: inline-block;
    border: 1px solid transparent;
    height: 16px;
    width: 16px;
    margin-left: -8px;
    transition: opacity .15s cubic-bezier(.4,0,1,1);
    margin-top: -8px;
    pointer-events: none;
    opacity: 0;
}

.subtask-link-icon {
    margin-right: auto;
    height:min-content;
    width: min-content;
}

.subtask-link-container {
    width: 100%;
    display: flex;
}

.subtask-options-container {
    width: 30px;
    margin-left: auto;
}