.project-list-page {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.project-list-container {
    display: flex;
    flex-direction: column;
    min-width: 40%;
}

.project-row-container {
    display: flex;
    margin-left: 10px;
}

.project-row-item {
    margin: 0 5px;
    font-style: normal;
    font-size: medium;
}

.project-list-subtype-container {
    margin-left: 10px;
    font-style: italic;
    font-size: small;
}

.create-project-button {
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    width: fit-content;
}

.project-list-filters-group {
    margin-right: 15px;
    margin-left: 40px;
}