.attachments-container {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.attachment-row:hover > .delete-button {
    display: flex;
}

.attachment-row > .delete-button {
    display:none;
}

.delete-button {
    color: grey;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.attachment-row {
    display: flex;
    min-width: 500px;
}

.attachment-type-label {
    min-width:50px;
    margin-right: 15px;
}

.attachment-name {
    min-width: 300px;
    margin-right: 15px;
}

.attachments-header {
    display: flex;
    margin: 5px 0;
}

.add-attachment-button {
    margin-left: 10px;
    width: 24px;
    border-radius: 12px;
    font-weight: 600;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    border: 1px solid black;
    text-align: center;
}